<footer class="footer bg-dark text-white-50 border-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-2">
                <h3><a href="/">Home</a></h3>
                <ul class="list-unstyled">
                    <li><a href="/news/">News</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <h3><a href="/get-started/">Get Started</a></h3>
                <ul class="list-unstyled">
                    <li><a href="/get-started/about/">About Firedu</a></li>
                    <li><a href="/get-started/philosophy/">Philosophy</a></li>
                    <li><a href="/get-started/screenshots/">Screenshots</a></li>
                    <li><a href="/wiki/FAQ">FAQ</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <h3><a href="/downloads/">Downloads</a></h3>
                <ul class="list-unstyled">
                    <li><a href="/downloads/mirrors/">Mirrors</a></li>
                    <li><a href="/downloads/signatures/">Signatures</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <h3><a href="/inside-firedu/">Inside Firedu</a></h3>
                <ul class="list-unstyled">
                    <li><a href="/inside-firedu/developers/">Developers</a></li>
                    <li><a href="/wiki/project">Projects</a></li>
                    <li><a href="/inside-firedu/artwork/">Artwork</a></li>
                    <li><a href="/inside-firedu/foundation/">Firedu Foundation</a></li>
                    <li><a href="/inside-firedu/sponsors/">Sponsors</a></li>
                    <li><a href="/inside-firedu/stores/">Stores</a></li>
                    <li><a href="/inside-firedu/contact/">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <h3><a href="/support/">Support</a></h3>
                <ul class="list-unstyled">
                    <li><a href="/support/consulting/">Consulting</a></li>
                    <li><a href="/support/documentation/">Documentation</a></li>
                    <li><a href="/support/news-items/">News items</a></li>
                    <li><a href="/support/security/">Security</a></li>
                    <li><a href="/support/use-flags/">USE flags</a></li>
                    <li><a href="/support/rsync-mirrors/">rsync mirrors</a></li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <h3><a href="/get-involved/">Get Involved</a></h3>
                <ul class="list-unstyled">
                    <li><a href="/get-involved/irc-channels/">IRC channels</a></li>
                    <li><a href="/get-involved/mailing-lists/">Mailing lists</a></li>
                    <li><a href="/get-involved/contribute/">Contribute</a></li>
                    <li><a href="/get-involved/become-developer/">Become a developer</a></li>
                    <li><a href="/get-involved/get-code/">Get the code</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <strong>© 2018 Firedu Foundation, Inc.</strong>
                <ul class="list-inline text-right">
                    <li class="list-inline-item"><a href="#" title="@Firedu on Weixin"><i class="fab fa-weixin"></i></a></li>
                    <li class="list-inline-item"><a href="#" title="@Firedu on QQ"><i class="fab fa-qq"></i></a></li>
                    <li class="list-inline-item"><a href="#" title="@Firedu on Weibo"><i class="fab fa-weibo"></i></a></li>
                    <li class="list-inline-item"><a href="/site/privacy"><@spring.message "template.privacy"/></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
